div {
  border: solid red;
  transform: translate(20px, 50px) scale(150%);
  width: 140px;
  height: 60px;
}

.box {
  color: white;
  border-style: solid;
  border-width: 1px;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #0000ff;
  transition: width 2s, height 2s, background-color 10s, transform 2s;
}

.box:hover {
  background-color: #ffcccc;
  width: 200px;
  height: 200px;
  transform: rotate(180deg);
}
